[Unit]
Description=CamPanel
After=network.target

[Service]
ExecStart=sudo -u campanel /usr/bin/python /home/campanel/CamPanel2/CamPanel.py
Restart=always
RestartSec=10
User=campanel

[Install]
WantedBy=multi-user.target