[Unit]
Description=CamPanel

[Service]
ExecStart=/usr/bin/python /home/pi/CamPanel2/CamPanel.py
Restart=always
User=pi

[Install]
WantedBy=default.target