[Unit]
Description=CamPanel
After=network.target

[Service]
ExecStart=/usr/bin/python /home/pi/CamPanel2/CamPanel.py
Restart=always
User=campanel

[Install]
WantedBy=multi-user.target